    <%- include('./partials/header.ejs') %> 
    <%- include('./partials/nav.ejs') %> 
   <div class="container">
    <h1>About</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, voluptatum magni sapiente dolores inventore fuga adipisci accusamus, porro, minima id saepe praesentium dolorem hic consectetur dolore facere exercitationem quaerat tenetur.
   </div>
   <img src="/images/foodboo.png">
</body>
</html>